* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	font-size: 15px;
	background-color: hsl(212, 45%, 89%);
	font-family: "Outfit", sans-serif;
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
}

.card {
	display: flex;
	flex-direction: column;
	width: 50%;
	background-color: hsl(0, 0%, 100%);
	border-radius: 20px;
}

.card__img {
	max-width: 100%;
	padding: 15px;
}

.card__img img {
	width: 100%;
	border-radius: 8px;
}

.card__body {
	font-size: 15px;
	text-align: center;
}

.card__title {
	padding: 0 20px;
}

.card__text {
	padding: 15px 25px 35px 25px;
}

/* .wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	height: 100vh;
}

.card {
	background-color: hsl(0, 0%, 100%);
	border-radius: 20px;
	width: 30%;
}

.card__img {
	padding: 20px;
	border-radius: 8px;
	max-width: 100%;
}

img {
	width: 100%;
	border-radius: 8px;
}

.card__title {
	padding: 0 20px;
	text-align: center;
}

.card__text {
	padding: 15px 25px 35px 25px;
} */

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
